/*************************************************/
/******************** HEADER *********************/
/*************************************************/

/*************************************************/
/********************* MAIN **********************/
/*************************************************/

/*********** SECTION 1 : ANIMATION ************/

#animation{
    height: 500px;
}

/*********** SECTION 2 : ACTUALITE ************/

.actualite__text-container{
    height: 400px;
}

.actualite__picture{
    width: 400px;
    height: 400px;
}

/*********** SECTION 3 : DERNIERS CLIPS ************/

.clip-article{
    width: 400px;
    height: 250px;
}

/*********** SECTION 4 : EVENEMENTS ************/

/*********** SECTION 5 : LOGO ANIME ************/

#logo-anime{
    height: 250px;
}

/*************************************************/
/******************** FOOTER *********************/
/*************************************************/